body{
    text-align:center;
    background-color:blueviolet;
    background-image:linear-gradient(to right, rgb(48, 48, 196), rgb(1, 12, 1));
    background-size:cover;
        background-attachment:fixed;}
#isro{
    width:100px;
    border-radius:50px;
    height:30px;
    text-align:center;
   
    background-color:rgba(243, 243, 247, 0.5);
    margin-left :310px;
    margin-top: 50px;
    padding:30px;
}
#isro1 {
    width: 100px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    background-color: rgba(230, 126, 21, 0.7);
    margin-left: 200px;

    padding: 30px;
 margin-top:-120px;
}
#isro2 {
    width: 100px;
    border-radius: 50px;
    height: 30px;
    text-align: center;

    background-color: rgba(7, 151, 40, 0.7);
    margin-left: 420px;
    margin-bottom: 50px;
    padding: 30px;
    margin-top: -90px;
}
#isroman{
    border:solid black 0.1px;  
    margin-top:-150px;
   width:400px;
   height:150px;
   background-color: rgb(160, 33, 33,0.3);
   margin-left:190px;
 
   border-radius:50px;
  
}
#boss{
    border:solid black 0.1px;
    width:800px;
   margin-left:500px;
   margin-top: 50px;
   border-radius:50px;
   background-color: rgb(160, 33, 33,0.3);
}