#control1{
    margin-left:250px;
    margin-top:-100px;
   }
#box1{
    background-color: blue;
    color:red;
    margin-top:50px;
    border-bottom: 10px solid black;   
    border-radius: 30%;
    margin-left:150px;
    padding:30px;
height:50px;
width:50px;
}
#box2{
    border-radius:30%;
    background-color:rgba(128, 8, 28, 0.9);
    border-bottom: 10px solid black;
    margin-left:100px;
    margin-top: -50px;
    padding:20px;
    height:50px;
    width:50px;
}
#box3 {
    background-color: rgba(14, 85, 126, 0.7);
    border-bottom:10px solid black;
    margin-top: -150px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 30px;
    height: 50px;
    width: 50px;
}

#box4 {
    background-color: rgba(238, 172, 18, 0.5);
    border-radius: 50%;
    border-bottom: 10px solid black;
    margin-left: 250px;
    margin-top: -120px;
    padding: 20px;
    height: 50px;
    width: 50px;
}
#box5 {
    background-color: blue;
    color: red;
    margin-top: 50px;
    border-bottom: 10px solid black;
    border-radius: 30%;
    margin-left: 150px;
    padding: 30px;
    height: 50px;
    width: 50px;
}

#box6 {
    border-radius: 30%;
    background-color: rgba(128, 8, 28, 0.9);
    border-bottom: 10px solid black;
    margin-left: 100px;
    margin-top: -50px;
    padding: 20px;
    height: 50px;
    width: 50px;
}

#box7 {
    background-color: rgba(14, 85, 126, 0.7);
    border-bottom: 10px solid black;
    margin-top: -150px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 30px;
    height: 50px;
    width: 50px;
}

#box8 {
    background-color: rgba(238, 172, 18, 0.5);
    border-radius: 50%;
    border-bottom: 10px solid black;
    margin-left: 250px;
    margin-top: -120px;
    padding: 20px;
    height: 50px;
    width: 50px;
}